/* //////   HEADER SECTION   ///// */
header {
  background-color: #002c00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  height: 6rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
  box-shadow: 0 0.24rem 2.8rem rgba(213, 255, 212, 0.322);
}

/* //////   LOGO   ///// */
.main-logo {
  display: flex;
  margin-top: 10px;
  display: flex;
  margin-left: 5%;
  font-family: "Pacifico", cursive;
}

.main-logo a {
  text-decoration: none;
}

.tobz {
  color: #fefefe;
  font-size: 3.1rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  cursor: pointer;
  animation: bounce 1.5s infinite;
  padding-bottom: 1rem;
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
    color: #a6ff79;
  }
}

.tobz:nth-of-type(1) {
  animation-delay: 0.2s;
}
.tobz:nth-of-type(2) {
  animation-delay: 0.4s;
}
.tobz:nth-of-type(3) {
  animation-delay: 0.6s;
}
.tobz:nth-of-type(4) {
  animation-delay: 0.8s;
}

.dot {
  font-size: 31.5px;
  color: #ffffff;
  font-weight: 800;
  cursor: pointer;
  animation: bounce 1s infinite;
}

#dot:nth-of-type(1) {
  animation-delay: 1s;
}
/* //////   NAVIGATION   ///// */
.nav-List {
  gap: 3.2rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-links:link,
.nav-links:visited {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.3s;
}

.nav-links:hover,
.nav-links:active {
  background-color: #48d500;
}

.nav-cta:link,
.nav-cta:visited {
  background-color: #48d500;
  color: #ffffff;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: #008604;
  color: #fff;
}

.btn-mobile-nav {
  display: none;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.fa {
  color: #fefefe;
  font-size: 2.4rem;
}

.nav-links i {
  display: none;
}
/* /////HERO SECTION */

.section-hero {
  padding: 22rem 0;
  background: radial-gradient(
    circle,
    rgb(0, 134, 34) 16%,
    rgba(0, 24, 0, 1) 58%
  );
  display: flex;
  align-items: center;
  color: whitesmoke;
}

.hero {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1rem;
}

/* HERO TEXT BOX */
.hero-text-box {
  display: flex;
  flex-direction: column;
}

.socials {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* IMAGE AND ANIMATION */
.hero-img-box img {
  width: 70%;
  border: solid rgba(0, 43, 0, 0.665);
  border-radius: 50%;
  animation: tobi 10s linear infinite;
}

@keyframes tobi {
  50% {
    transform: scale(1.15, 1.15);
  }
}

/* .hero-img-box::after {
  width: 30rem;
  height: 30rem;
  position: absolute;
  content: "";
  border-radius: 50%;
  left: 35%;
  background: radial-gradient(
    circle,
    rgba(0, 24, 0, 1) 51%,
    rgb(58, 177, 0) 92%
  );
  animation: greenball 10s linear infinite;
  z-index: 0;
  transition: all 0.5s;
} */

@keyframes greenball {
  25% {
    transform: scale(0.6, 0.6);
  }
  50% {
    left: 40%;
  }
  75% {
    transform: scale(0.8, 0.8);
  }
}

/* ABOUT SECTION */
.about-section {
  display: flex;
  align-items: center;
  padding: 16rem 0;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
}

.about-img-box img {
  width: 90%;
  animation: tobi 10s linear infinite;
}

.about .hero-img-box::after {
  display: none;
}

.about-text-box .heading-secondary {
  font-size: 2.8rem;
}

/* Skills Section*/
.section-skills {
  padding: 12rem 0 6.4rem;
  background-color: #c5ffbc;
}

.skills-description {
  margin-bottom: 10rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skills-box-one {
  justify-self: center;
  align-items: center;
  width: fit-content;
}

.webdev-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 2.4rem;
  row-gap: 2.4rem;
}

.weblox {
  justify-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 2rem 4rem;
  border-radius: 7%;
  box-shadow: 0 0.24rem 2.8rem rgba(0, 56, 7, 0.244);
  transition: all 0.3s;
}

.weblox:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 0.24rem 2.8rem rgba(2, 106, 0, 0.218);
}

.weblox img {
  width: 9rem;
  height: 7rem;
}

.faskills {
  color: #004114;
  font-size: 6.4rem;
}

.diff {
  padding: 2rem 3rem;
}

.diff2 {
  padding: 2rem 3.4rem;
}

/* MY SERVICES SECTION */

.section-services {
  padding: 12rem;
}

.all-services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12rem;
}

.services-desc {
  padding: 2rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.serv {
  padding: 3.5rem 2rem;
  background-color: #e0ffdc;
  box-shadow: 0 0.24rem 2.8rem rgba(0, 56, 7, 0.119);
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 17fr 83fr;
  align-items: center;
}

.serv-icon {
  display: flex;
  justify-content: center;
}

.ta {
  color: rgb(0, 78, 16);
}

.serv .fa {
  font-size: 2rem;
}

.serv:nth-child(2) {
  transform: translateX(4rem);
}

/* PROJECTS SECTION */
.section-portfolio {
  padding: 10rem 0;
  background-color: #c5ffbc;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  text-align: center;
}

.project-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.project {
  padding: 10rem 18rem;
  border-radius: 2rem;
}

.project:nth-child(1) {
  background-color: #ffa88e;
}

.project:nth-child(2) {
  background-color: #84ff47;
}

.project:nth-child(3) {
  background-color: #9e9aff;
}

/* Testimonials */
.section-testimonials {
  padding: 10rem 0 14rem 0;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

.testimonials-desc {
  text-align: center;
}

/* testimonial carousel */

.Carousel {
  color: antiquewhite;
  font-size: 2.4rem;
  width: 70%;
  display: flex;
  gap: 4.6rem;
  background-color: #002c00;
  border-radius: 0.8rem;
  padding: 4.2rem;
  padding-left: 8.2rem;
  padding-right: 4.2rem;
  box-shadow: 0 0 3.2rem rgb(0, 0, 0, 0.3);
  position: relative;
}

.Carousel img {
  height: 12rem;
  border-radius: 8px;
  transform: scale(1.25);
  box-shadow: 0 0 3rem rgb(0, 0, 0, 0.2);
}

.testimonial-text {
  line-height: 1.4;
  margin-bottom: 4rem;
}

.testimonial-text strong {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2.8rem;
  color: rgb(255, 183, 120);
}

.testimonial-author {
  font-size: 2rem;
  color: rgb(163, 239, 162);
}

.testimonial-job {
  font-size: 1.8rem;
  color: rgb(111, 202, 109);
}

.t-btn {
  cursor: pointer;
  background-color: rgb(201, 255, 222);
  height: 4rem;
  width: 4rem;
  border: none;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3rem rgb(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: #005e1e;
}

.btn--left {
  left: 0;
  transform: translate(-50%, -50%); /* 50% of its height */
}

.btn--right {
  right: 0;
  transform: translate(50%, -50%); /* 50% of its height */
}

.icon {
  font-size: 3.2rem;
  color: #005e1e;
}

.icon:hover {
  color: rgb(201, 255, 222);
}

.nav-dots {
  display: flex;
  gap: 1.2rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 4.2rem);
}

.t-dot {
  height: 1.2rem;
  width: 1.2rem;
  background-color: white;
  border: solid #005e1e 0.2rem;
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: #005e1e;
}

/* BLOG */

.section-blog {
  padding: 10rem 0;
  background-color: #001f00;
}

.all-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

.blog-desc {
  text-align: center;
}

.blog-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.blog {
  width: 40%;
  background-color: hwb(107 96% 0%);
  padding: 3rem 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.blog img {
  align-self: center;
  border-radius: 1.5rem;
  width: 35rem;
  height: 28rem;
}

.blog-topic {
  width: 90%;
}

.blog a:link,
.blog a:visited {
  font-size: 1.4rem;
  color: rgb(5, 106, 0);
  font-weight: 600;
}

.more:link,
.more:visited {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 2px inset currentColor;
  text-decoration: none;
  color: #e0ffdc;
  font-weight: 500;
  font-size: 1.8rem;
}

.more .fa:hover,
.more .fa:active,
.more:hover,
.more:active {
  color: #0dfd59;
  border-bottom: inset transparent;
}

.section-cta {
  padding: 12rem 0 6.4rem;
}

.cta-description {
  margin-bottom: 10rem;
}

.cta-grid {
  display: grid;
  grid-template-columns: 40fr 60fr;
  column-gap: 12rem;
  justify-content: center;
}

.cta-box-one {
  padding: 6rem 4rem;
  background-color: #3ac300;
  border-radius: 1.5rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: start;
  align-self: center;
  box-shadow: 0 0.24rem 2.8rem rgba(120, 120, 120, 0.876);
  animation: bouncing 3s 0s infinite linear;
}

@keyframes bouncing {
  0% {
    transform: translateY(-2rem);
  }
}

.cta-linkz {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cta-linkz span {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cta-icon {
  padding: 1.6rem;
  border-radius: 50%;
  border: #ffffff 1px solid;
}

.xsmax {
  padding: 1.6rem 1.8rem;
}

.cta-box-two {
  padding: 4rem 4rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: start;
}

.cta-form {
  background-color: #f1ffef;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.24rem 2.8rem rgba(191, 191, 191, 0.876);
  padding: 8rem 4rem;
  border-radius: 2rem;
}

.cta-form div {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.cta-form label {
  font-size: 2.4rem;
  color: #004114;
}

.cta-form input {
  background-color: #d4ffcc;
  width: 50rem;
  height: 5rem;
  border-radius: 1rem;
  padding: 2rem;
  border: none;
  font-size: 1.7rem;
}

#Message {
  height: 10rem;
}

.cta-form button {
  align-self: center;
  background-color: #117400;
  color: whitesmoke;
  display: inline-block;
  padding: 2rem 2rem;
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
}

.cta-form button:hover {
  background-color: #37f316;
}

.cta-form button:active {
  background-color: #9efc8e;
}

footer {
  padding: 8rem;
  background-color: #cfffc7;
}

footer .container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  margin-bottom: 6rem;
}

.smada {
  font-family: "Pacifico", cursive;
}

.footer-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.footer-links li a {
  color: #004f01;
  font-size: 1.8rem;
  text-decoration: none;
}

.ftcp {
  border-top: #008002 2px solid;
  padding-top: 3rem;
  text-align: center;
  color: #004f01;
  font-size: 1.6rem;
}
