/* //////   HEADER SECTION   ///// */
header {
  background-color: rgba(0, 0, 0, 0.951);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
  box-shadow: 0 0.24rem 2.8rem rgb(23, 23, 23);
}
/* <!-- //////////// --> */

/* //////   LOGO   ///// */
.main-logo {
  display: flex;
  margin-top: 10px;
  display: flex;
  margin-left: 5%;
  font-family: "Pacifico", cursive;
}

.main-logo a {
  text-decoration: none;
}

.tobz {
  color: #fefefe;
  font-size: 3.1rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  cursor: pointer;
  animation: bounce 1.5s infinite;
  padding-bottom: 1rem;
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
    color: #141414;
  }
}

.tobz:nth-of-type(1) {
  animation-delay: 0.2s;
}
.tobz:nth-of-type(2) {
  animation-delay: 0.4s;
}
.tobz:nth-of-type(3) {
  animation-delay: 0.6s;
}
.tobz:nth-of-type(4) {
  animation-delay: 0.8s;
}

.dot {
  font-size: 31.5px;
  color: #ffffff;
  font-weight: 800;
  cursor: pointer;
  animation: bounce 1s infinite;
}

#dot:nth-of-type(1) {
  animation-delay: 1s;
}
/* <!-- //////////// --> */

/* //////   NAVIGATION   ///// */
.nav-List {
  gap: 3.2rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-links:link,
.nav-links:visited {
  color: #eeee;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  transition: all 0.3s;
}

.nav-links:hover,
.nav-links:active {
  background-color: #bf942f86;
  color: #ffffff;
}

.nav-cta:link,
.nav-cta:visited {
  background-color: rgb(135, 95, 29);
  color: #ffffff;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: #424242;
  color: #fff;
}

.btn-mobile-nav {
  display: none;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.fa {
  color: #fefefe;
  font-size: 3.2rem;
}

.fa:hover {
  color: #ffbd53;
}

.nav-links i {
  display: none;
}
/* <!-- //////////// --> */

/* /////HERO SECTION */
.section-hero {
  padding: 20rem 0 4rem 0;
  background: radial-gradient(circle, #0b0f16 20%, rgb(0, 0, 0) 78%);
  display: flex;
  align-items: center;
  color: whitesmoke;
}

.hero {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 6rem;
}
.hero-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.socials {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.hero-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-img-box img {
  width: 22%;
  border: solid rgba(0, 0, 0, 0.665);
  border-radius: 50%;
  animation: tobi 10s linear infinite;
}

@keyframes tobi {
  50% {
    transform: scale(1.15, 1.15);
  }
}

/* <!-- //////////// --> */
/* <!-- //////////// --> */

/* ABOUT SECTION */
.about-section {
  background: radial-gradient(circle, #080c11 10%, #000000 78%);
  flex-direction: column;
  justify-content: start;
  display: flex;
  padding: 24rem 24rem 20rem 24rem;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
}

.about-info {
  font-size: 3.2rem;
  line-height: 1.5;
}
/* <!-- //////////// --> */
/* <!-- //////////// --> */

/* Skills Section*/
.section-skills {
  background: radial-gradient(circle, #080c11 10%, #000000 78%);

  padding: 10rem 6rem;
  background-color: #c5ffbc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.flip-card {
  background-color: transparent;
  width: 50rem;
  height: 50rem;
  perspective: 1000px;
}

/* on scroll animation */
@keyframes fadeInScroll {
  from {
    opacity: -2;
    transform: translateY(15rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.flip-card img {
  width: 60%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 1.2s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.flip-card:focus {
  outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.flip-card-front {
  padding: 12rem 4rem;
  background: linear-gradient(to bottom, #111822, rgb(0, 0, 0));
  color: black;
  z-index: 2;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flip-card-back {
  padding: 6rem 4rem;
  background: linear-gradient(to bottom, #111822, rgb(0, 0, 0));
  color: #f0f0f0ee;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: start;
}

.flip-card-back p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.flip-card-back li {
  margin-left: 2rem;
  font-size: 1.8rem;
  line-height: 1.4;
}

.flip-card-back ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #ffffff;
}

.qualities {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 700;
  color: #f0f0f0ee;
}
/* <!-- //////////// --> */
/* <!-- //////////// --> */

/* PROJECTS SECTION */
.section-portfolio {
  padding: 10rem 0;
  background-color: #1b1b1b;
  color: whitesmoke;
  font-size: 4rem;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20rem;
}

.project-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20rem;
}

.project {
  padding: 30rem 40rem;
  background-color: #798a76;
}

.projectBox {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 6rem;
}

.projectName > span {
  letter-spacing: -7.5px;
}

.floatright {
  align-self: end;
}

/* <!-- //////////// --> */
/* <!-- //////////// --> */

/* Testimonials */
.section-testimonials {
  padding: 10rem;
  background-color: #1b1b1b;
  color: whitesmoke;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

.testimonials-desc {
  text-align: center;
}
/* testimonial carousel */

.Carousel {
  color: antiquewhite;
  font-size: 2.4rem;
  width: 70%;
  display: flex;
  gap: 4.6rem;
  background-color: #002c00;
  border-radius: 0.8rem;
  padding: 4.2rem;
  padding-left: 8.2rem;
  padding-right: 4.2rem;
  box-shadow: 0 0 3.2rem rgb(0, 0, 0, 0.3);
  position: relative;
}

.Carousel img {
  height: 12rem;
  border-radius: 8px;
  transform: scale(1.25);
  box-shadow: 0 0 3rem rgb(0, 0, 0, 0.2);
}

.testimonial-text {
  line-height: 1.4;
  margin-bottom: 4rem;
}

.testimonial-text strong {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2.8rem;
  color: rgb(255, 183, 120);
}

.testimonial-author {
  font-size: 2rem;
  color: rgb(163, 239, 162);
}

.testimonial-job {
  font-size: 1.8rem;
  color: rgb(111, 202, 109);
}

.t-btn {
  cursor: pointer;
  background-color: rgb(201, 255, 222);
  height: 4rem;
  width: 4rem;
  border: none;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3rem rgb(0, 0, 0, 0.3);
}

.btn--left {
  left: 0;
  transform: translate(-50%, -50%); /* 50% of its height */
}

.btn--right {
  right: 0;
  transform: translate(50%, -50%); /* 50% of its height */
}

.icon {
  font-size: 3.2rem;
  color: #005e1e;
}

.icon:hover {
  color: rgb(201, 255, 222);
}

.nav-dots {
  display: flex;
  gap: 1.2rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 4.2rem);
}

.t-dot {
  height: 1.2rem;
  width: 1.2rem;
  background-color: white;
  border: solid #005e1e 0.2rem;
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: #005e1e;
}

/* <!-- //////////// --> */
/* <!-- //////////// --> */

/* CTA SECTION */
.section-cta {
  background-color: #111111;
  padding: 12rem 0 6.4rem;
}

.cta-description {
  margin-bottom: 10rem;
}

.cta-description > p {
  font-size: 5rem;
  color: whitesmoke;
}

.cta-grid {
  display: grid;
  grid-template-columns: 40fr 60fr;
  column-gap: 12rem;
  justify-content: center;
}

.cta-box-one {
  transition: all 3s;
  padding: 6rem 4rem;
  border-radius: 1.5rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: start;
  align-self: center;
  box-shadow: 0 0.24rem 1.4rem rgba(60, 60, 60, 0.876);
  animation: bouncing 3s 0s infinite linear;
}

@keyframes bouncing {
  0% {
    transform: translateY(-2rem);
  }
}

.cta-linkz {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cta-linkz span {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cta-icon {
  padding: 1.6rem;
  border-radius: 50%;
  border: #ffffff 1px solid;
}

.xsmax {
  padding: 1.6rem 1.8rem;
}

.cta-box-two {
  padding: 4rem 4rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: start;
}

.cta-form {
  background-color: #101010;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.24rem 1.4rem rgba(60, 60, 60, 0.876);
  padding: 8rem 4rem 2rem 4rem;
  border-radius: 2rem;
}

.cta-form div {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.cta-form label {
  font-size: 2.4rem;
  color: whitesmoke;
}

.cta-form input {
  background-color: #3c3c3c;
  width: 50rem;
  height: 5rem;
  border-radius: 1rem;
  padding: 2rem;
  border: none;
  font-size: 1.7rem;
}

#Message {
  padding-bottom: 2rem;
}

.cta-form button {
  align-self: center;
  display: inline-block;
}

/* <!-- //////////// --> */
/* <!-- //////////// --> */

/* <!-- FOOTER --> */
footer {
  color: #f0f0f0ee;
  padding: 8rem;
  background-color: rgb(14, 13, 13);
}

footer .container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  margin-bottom: 6rem;
}

.smada {
  font-family: "Pacifico", cursive;
  color: #f0f0f0ee;
}

.footer-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.footer-links li a {
  color: #f0f0f0ee;
  font-size: 1.8rem;
  text-decoration: none;
}

.footer-links li a:hover {
  color: #ffbd53;
}

.ftcp {
  border-top: whitesmoke 2px solid;
  padding-top: 3rem;
  text-align: center;
  color: white;
  font-size: 1.6rem;
}
